geckodriver.log
__pycache__
/result.csv
/data/search_logs/*
/data/search_pages/*
/data/search_results/*
/data/product_logs/*
/data/product_pages/*
/data/product_results/*
/data/search_results.csv
/data/product_results.csv